extends ./layout/default

block title 
  | Index

block main
    .container
        h3.header.mt-1.mb-0 
            span.capital-letter D
            span one
        form.form(method='post' action='/add-msg')
            input.form-input(type="text" name='msg')
            input.form-submit(type="submit" value='+')

    